@import '../../styles/var-mixins'

.auth-wrapper
  background: $light-blue
  height: 100vh
  width: 100vw
  display: flex
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  justify-content: flex-start
