@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\000031}}
.auth-wrapper {
  background: #4a6572;
  height: 100vh;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000310}}
.bot {
  margin-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000313}}
.auth {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-top: 1px;
  margin-top: 50px;
  width: 330px;
  height: 360px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 10px 4px 10px 3px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000326}}
.login {
  margin-top: 140px;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000331}}
.register-form {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000338}}
.auth-input {
  width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: none;
  height: 40px;
  padding-left: 50px;
  font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000347}}
.input-span {
  position: relative;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000352}}
.input-span img {
  width: 18px;
  top: 13px;
  position: absolute;
  left: 60px;
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.4); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000361}}
.first {
  border-radius: 15px 15px 0 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000365}}
.last {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000371}}
.auth-title {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
  color: #17262a;
  margin-top: 15px;
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000380}}
.auth-submit {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  height: 34px;
  border: none;
  margin: 0 auto;
  width: 202px;
  color: #17262a;
  background: #faab1a;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\0000396}}
.auth-submit__login {
  width: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\00003100}}
.change-auth {
  color: #232f34;
  font-size: 14px;
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\00003106}}
.login-link {
  font-size: 15px;
  margin-left: 10px;
  text-decoration: underline;
  color: #0000FF;
  cursor: pointer;
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\00003117}}
.formErrors {
  background: #c22121; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\00003121}}
.valid-error {
  position: absolute;
  left: 295px;
  top: 10px;
  height: 30px;
  line-height: 1.5em;
  padding-left: 10px;
  text-align: left;
  background: #f21b1b;
  font-size: 10px;
  width: 350px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\00003135}}
.valid-error:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  top: 10px;
  border: 8px solid;
  border-color: #f21b1b #f21b1b transparent transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/auth\.sass}line{font-family:\00003146}}
.login-error {
  width: 230px;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin: 0 auto;
  background: #e72828;
  margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/choose\.sass}line{font-family:\000031}}
.choose-wrapper {
  height: auto;
  font-weight: 500;
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/choose\.sass}line{font-family:\000036}}
.choose-buttons {
  display: block;
  color: white;
  cursor: pointer;
  background: #7289da;
  margin: 0 auto;
  margin-top: 20px;
  width: 170px;
  height: 35px;
  line-height: 1.9em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/choose\.sass}line{font-family:\0000318}}
.choose-buttons:active {
  margin-top: 21px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/choose\.sass}line{font-family:\0000321}}
.choose-buttons:last-child {
  color: #17262a;
  background: #f9aa33;
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/choose\.sass}line{font-family:\0000327}}
.choose {
  background: #4a6572; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/header-auth\.sass}line{font-family:\000031}}
.header-auth__logo {
  width: 70px;
  margin-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/header-auth\.sass}line{font-family:\000035}}
.header-auth {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 70px;
  background: #232f34;
  font-size: 30px;
  grid-area: headerauth;
  font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/header-auth\.sass}line{font-family:\0000315}}
.header-auth__title {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/auth\/header-auth\.sass}line{font-family:\0000318}}
.header-auth__title span {
  background: white;
  margin-left: 5px;
  color: #232f34;
  padding: 0 5px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\000031}}
.header-wrapper {
  height: 70px;
  background: #232f34;
  font-size: 30px;
  font-weight: 500;
  grid-area: header;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000312}}
.header-logo {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  margin-left: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000317}}
.user {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  margin-right: 57px;
  margin-left: 285px;
  padding-right: 10px;
  height: 100%;
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000326}}
.user-panel:hover {
  background: rgba(255, 255, 255, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000330}}
.avatar {
  border: 2px solid white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  width: 35px;
  height: 35px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000337}}
.user-name {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-right: 11px;
  padding-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000344}}
.profile-popup {
  background: #d6d6d6;
  position: absolute;
  top: 250%;
  width: 540px;
  left: 33%;
  z-index: 44;
  font-size: 15px;
  color: #232f34;
  font-weight: 500;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #232f34; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000358}}
.profile-popup p {
  margin-left: 40px;
  margin-top: 10px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #232f34; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000369}}
.label-name {
  margin-left: 46px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000372}}
.label-surname {
  margin-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000375}}
.label-avatar {
  margin-left: 26px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000379}}
.profile-popup__input {
  padding-left: 10px;
  font-size: 15px;
  margin-left: 10px;
  width: 190px;
  height: 25px;
  border: 1px solid #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000390}}
.profile-popup__avatar {
  width: 260px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\0000394}}
.submit-changes {
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 15px;
  background: #f9aa33;
  border: none;
  color: #232f34;
  padding: 5px 15px;
  font-size: 16px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003107}}
.popup-user {
  position: absolute;
  width: 110px;
  height: 110px;
  border: 2px solid #232f34;
  top: 50px;
  right: 28px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003116}}
.close {
  position: absolute;
  right: 25px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003126}}
.close:hover {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003130}}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003139}}
.close:before {
  transform: rotate(45deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003143}}
.close:after {
  transform: rotate(-45deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003147}}
.profile-menu {
  width: 184px;
  background: white;
  right: 30px;
  top: 73px;
  position: absolute;
  list-style: none;
  color: #232f34;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  z-index: 15;
  font-weight: 500;
  border: 1px solid #232f34; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003162}}
.profile-menu__item {
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/header\.sass}line{font-family:\00003168}}
.profile-menu__item:last-child {
  border-bottom: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\000031}}
.aside-bar {
  grid-area: aside; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\000034}}
.aside-bar {
  background: white;
  min-height: 555px;
  border-right: 1px solid #4a6572; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\0000310}}
.aside-bar__title {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  color: #232f34; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\0000317}}
.users-list {
  width: 84%;
  height: 88.2882882883%;
  margin: 0 auto;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: white;
  overflow: scroll; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\0000327}}
.user-list_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 88%;
  margin: 0 auto;
  margin-top: 6px;
  padding: 5px;
  line-height: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\0000337}}
.user-list_item:hover {
  background: rgba(74, 101, 113, 0.4); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\0000340}}
.user-list__avatar {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\0000347}}
.user-list__name {
  font-size: 12px;
  color: #232f34; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\0000352}}
::-webkit-scrollbar {
  width: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/aside\.sass}line{font-family:\0000356}}
::-webkit-scrollbar-thumb {
  background-color: #232f34; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\000032}}
.chat-wrapper {
  background: white;
  grid-area: chat;
  z-index: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 16.2162162162%;
  grid-template-areas: "messages" "input"; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000312}}
.messages-wrapper {
  grid-area: messages;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000319}}
.messages-list {
  width: 100%;
  overflow: scroll; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000323}}
.chat-input-wrapper {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  max-height: 122px;
  min-height: 70px;
  position: relative;
  grid-area: input; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000333}}
.chat-input--text {
  width: 82%;
  background: white;
  color: black;
  font-size: 13px;
  resize: none;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  height: 60px;
  overflow-x: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 15px 0 15px 40px;
  padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000349}}
.chat-input--text:focus {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000352}}
.chat-input--text:active .chat-input__placeholder {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000355}}
.send-message-btn {
  width: 70px;
  border: none;
  background: #fea319;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  margin-left: 20px;
  margin-bottom: 25px;
  height: 40px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000365}}
.send-message-btn:active {
  box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000368}}
.send-message__img {
  width: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000371}}
.message {
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  align-items: flex-start;
  color: #232f34;
  padding-left: 60px;
  font-size: 13px;
  margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000381}}
.red {
  border: 1px solid #f93d48;
  background: #f6afaf; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000385}}
.message:hover {
  background: #f4ebeb; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000388}}
.message-avatar {
  margin-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000391}}
.time {
  font-size: 12px;
  color: grey;
  margin-left: 0px;
  line-height: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\0000398}}
.sender-name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: -7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/chat\/chat\.sass}line{font-family:\00003103}}
.sender-message {
  line-height: 1.5em;
  width: 600px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/style\.sass}line{font-family:\000039}}
.app-wrapper {
  margin: 0 auto;
  width: 1100px;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/eugen\/Desktop\/chat\/client\/src\/sass\/style\.sass}line{font-family:\0000315}}
.mainchat-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 70px auto;
  grid-template-areas: "header header" "aside chat";
  max-height: 836px; }

/*# sourceMappingURL=style.css.map */
